<div id="modal-success-response" class="modal modal-message modal-success fade" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="justify-content: center">
        <i class="far fa-thumbs-up"></i>
      </div>
      <div class="modal-title">Sukces!</div>
      <br>
      <% if current_user.has_role?(:admin) %>
        <div class="modal-body">Twoje zmiany zostały zapisane.</div>
      <% else %>
        <div class="modal-body">Twoje zmiany zostały wysłane do administratora w celu ich zatwierdzenia.</div>
      <% end %>
      <div class="modal-footer">
        <%= button_to "OK", target_location, :method => "get", :class => "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>