<main class="page-content pt-2">
  <div class="container-fluid p-5">
    <h2>Wydarzenia</h2>
    <hr>
    <div class="text-center d-flex flex-column justify-content-center" style="margin:0 35%">
      <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#createEventModal">Dodaj
        wydarzenie
      </button>
    </div>
    <%= render :template => 'events/new' %>
    <% if @events.count == 0 %>
      <div class="alert alert-warning">
        <strong>W tej chwili nie istnieją żadne wydarzenia.</strong>
      </div>
    <% else %>
      <section class="gallery-block cards-gallery">
        <div class="container">
          <div id="paginate" class="row">
            <%= render :partial => 'events', :object => @events %>
          </div>
          <p id="load-more" class="pagination">
            <%= link_to_next_page(@events, 'Ładowanie...', :remote => true, :id => "load-more-link") %>
          </p>
        </div>
      </section>
    <% end %>
  </div>
</main>