<!-- page-content  -->
<main class="page-content pt-2">
  <div id="overlay" class="overlay"></div>
  <div class="container-fluid p-5">
    <div class="row">
      <div class="form-group col-md-12">
        <h2>Ustawienia konta</h2>
        <p>Zmień hasło, avatar, email i inne...</p>
        <%= link_to edit_current_user_path do %>
          <div class="btn btn-warning">Przejdź tutaj!</div>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="form-group col-md-12">
        <h2>Ustawienia graficzne</h2>
        <p>Zmień wygląd panelu administratora i jego ustawienia</p>
      </div>
      <div class="form-group col-md-12">
<!--        <a id="toggle-sidebar" class="btn btn-secondary rounded-0" href="#">-->
<!--          <span>Schowaj pasek nawigacyjny</span>-->
<!--        </a>-->
        <a id="pin-sidebar" class="btn btn-outline-secondary rounded-0" href="#">
          <span>Ukryj tekst</span>
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="form-group col-md-12">
        <h3>Motywy</h3>
        <p>Wybierz kolor tła:</p>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <a href="#" data-theme="default-theme" class="theme default-theme"></a>
        <a href="#" data-theme="chiller-theme" class="theme chiller-theme"></a>
        <a href="#" data-theme="legacy-theme" class="theme legacy-theme"></a>
        <a href="#" data-theme="ice-theme" class="theme ice-theme"></a>
        <a href="#" data-theme="cool-theme" class="theme cool-theme"></a>
        <a href="#" data-theme="light-theme" class="theme light-theme"></a>
      </div>
      <div class="form-group col-md-12">
        <p>Wybierz obrazek tła:</p>
      </div>
      <div class="form-group col-md-12">
        <a href="#" data-bg="bg1" class="theme theme-bg"></a>
        <a href="#" data-bg="bg2" class="theme theme-bg"></a>
        <a href="#" data-bg="bg3" class="theme theme-bg"></a>
        <a href="#" data-bg="bg4" class="theme theme-bg"></a>
      </div>
      <div class="form-group col-md-12">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="toggle-bg" checked>
          <label class="custom-control-label" for="toggle-bg">Obrazek tła</label>
        </div>
      </div>
<!--      <div class="form-group col-md-12">-->
<!--        <div class="custom-control custom-switch">-->
<!--          <input type="checkbox" class="custom-control-input" id="toggle-border-radius">-->
<!--          <label class="custom-control-label" for="toggle-border-radius">Zaokrąglone ramki</label>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</main>