<article class="index-intro">
  <div class="jumbotron text-outline" style="font-size: 40px; padding-top: 200px">
  </div>
</article>
<hr/>
<h1 align="center" style="color: black;font-size: 80px; font-weight: bold"><%= @sub_tab.title %></h1>
<p align="center" style="font-size: 40px">Pomniejszy tekst zakładki</p>
<hr style="width: 40%"/>
<div class="container" style="padding-top: 40px; padding-bottom: 92px">
  <p><%= @sub_tab.body %></p>
  <hr>
</div>

