<article class="index-intro">
  <% if @sub_tab.main_tab.image.attached? %>
    <div class="jumbotron text-outline" style="background: url(<%= url_for(@sub_tab.main_tab.image) %>) no-repeat;
        padding-top: 200px; background-size: cover; background-position-x: center; background-position-y: 45%">
  <% end %>
  </div>
</article>
<section id="page-section">
  <hr/>
  <h1><%= @sub_tab.title %></h1>
  <hr class="w-75"/>
  <div class="container">
    <p><%= @sub_tab.body %></p>
    <hr>
  </div>
</section>


