<article class="index-intro" style="">
  <div class="jumbotron text-outline" style="font-size: 40px; padding-top: 200px">
  </div>
</article>

<hr/>
<h1 align="center" style="color: black;font-size: 80px; font-weight: bold"><%= @sub_tab.title %></h1>
<p align="center" style="font-size: 40px">Pomniejszy tekst zakładki</p>
<hr style="width: 40%"/>

<div class="container" style="padding-top: 40px; padding-bottom: 92px">
  <p>Szkoła Podstawowa nr 60 położona jest z dala od zgiełku miejskiego, otoczona terenem zielonym. Jesteśmy jedną z najstarszych placówek w Poznaniu. </p>
  <p>Nowa elewacja, kolorowo wymalowane sale ozdobione pracami dzieci oraz nowoczesne wyposażenie – tablice interaktywne oraz komputer w każdej sali uatrakcyjniają prowadzenie zajęć oraz stwarzają przyjazną atmosferę. Zapewniamy opiekę pielęgniarki trzy razy w tygodniu.</p>
  <p>Przy szkole jest nowoczesne boisko sportowe i bogata infrastruktura zielona.</p>
  <p>Chcemy, by nasza placówka była dla dzieci ich drugim domem. W naszej szkole otaczamy uczniów życzliwą opieką.</p>
  <p>Troszcząc się o uczniów szkoła realizuje program przeciwdziałania przestępczości w internecie i własne programy: „Bezpieczna Szkoła” i „Bezpieczna Przerwa”, których celem jest podniesienie bezpieczeństwa.Tworzymy ciepła atmosferę sprzyjającą osiąganiu sukcesów, budowaniu poczucia własnej wartości.</p>
  <p>Pomagamy naszym podopiecznym wkraczać w fascynujący świat wiedzy.</p>
  <p>Wspólnie z rodzicami podejmujemy działania zmierzające do indywidualizacji rozwoju każdego dziecka.</p>
  <p>Wszystkim uczniom zapewniamy wysoki poziom nauczania, naukę języka angielskiego, zajęcia w nowoczesnych klasach i pracowni komputerowej, uczestnictwo w różnych kołach zainteresowań.</p>
  <p>Uczniowie mogą liczyć na pomoc pedagoga i psychologa. Zapewniamy szeroki program imprez sportowo-rekreacyjnych, a także obiady w stołówce i opiekę w świetlicy szkolnej, sześciolatkom opiekę i bogaty program zajęć w świetlicy „Świetliki”. Nasza biblioteka dysponuje szeroką ofertą książek popularnonaukowych i literatury pięknej.</p>
  <p>Uczniowie mają dostęp w bibliotece do komputerów, internetu i drukarki.</p>
</div>

