<article class="index-intro">
  <% if @event.image.attached? %>
  <div class="jumbotron text-outline" style="background: url(<%= url_for(@event.image) %>) no-repeat;
      padding-top: 200px; background-size: cover; background-position-x: center; background-position-y: 45% ">
  <% end %>
  </div>
</article>
<hr/>
<h1 align="center" style="color: black;font-size: 80px; font-weight: bold; padding: 15px"><%= @event.title %></h1>
<hr style="width: 70%"/>
<div class="container" style="padding-top: 40px; padding-bottom: 92px">
  <p style="font-size: 30px"><%= @event.body %></p>
  <hr>
</div>

