<article class="index-intro">
  <div class="jumbotron text-outline" style="padding-top: 200px; background: url(<%= @image_url %>) no-repeat;background-size: cover;background-position-x: center; background-position-y: 45% ">
  </div>
</article>

<hr/>
<h1 align="center" style="color: black;font-size: 80px; font-weight: bold"><%= @event.title %></h1>
<p align="center" style="font-size: 40px">Pomniejszy tekst wydarzenia (?)</p>
<hr style="width: 40%"/>

<div class="container" style="padding-top: 40px; padding-bottom: 92px">
  <p style="font-size: 30px"><%= @event.body %></p>
  <hr>
</div>

