<div id="modal-sortable-error" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="justify-content: center">
        <i class="fas fa-fire"></i>
      </div>
      <div class="modal-title">Wystąpił błąd</div>
      <br>
      <div id="modal-error-body" class="modal-body">Tylko administrator możesz zmieniać kolejność zakładek.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>