<article class="index-intro">
  <div class="jumbotron text-outline" style="font-size: 40px; padding-top: 200px; background: url(<%= asset_path 'newspapers.jpg' %>) no-repeat;
      background-size: cover; background-position-x: center; background-position-y: 45%">
  </div>
</article>
<hr/>
<h3 align="center" style="font-size: 50px; font-weight: bold"><%= @category.title %></h3>
<hr style="width: 40%"/>
<div class="container" align="center">
  <div class="container">
    <% if @events.count == 0 %>
      <br>
      <h2>Zakładka nie posiada wydarzeń</h2>
      <br>
      <br>
    <% else %>
      <div id="paginate" class="row">
        <%= render :partial => 'events', :object => @events %>
      </div>
      <p id="load-more" class="pagination">
        <%= link_to_next_page(@events, 'Ładowanie...', :remote => true, :id => "load-more-link") %>
      </p>
    <% end %>
  </div>
</div>