<article class="index-intro">
  <% if @main_tab.image.attached? %>
    <div class="jumbotron text-outline" style="background: url(<%= url_for(@main_tab.image) %>) no-repeat;
        padding-top: 200px; background-size: cover; background-position-x: center; background-position-y: 45%">
  <% end %>
  </div>
</article>
<hr/>
<section id="page-section">
  <h1><%= @main_tab.title %></h1>
  <hr class="w-75"/>
  <div class="container">
    <p><%= @main_tab.body %></p>
    <hr>
  </div>
</section>