<article class="index-intro">
  <% if @main_tab.image.attached? %>
    <div class="jumbotron text-outline" style="background: url(<%= url_for(@main_tab.image) %>) no-repeat;
        padding-top: 200px; background-size: cover; background-position-x: center; background-position-y: 45%">
  <% end %>
  </div>
</article>
<hr/>
<h1 align="center" style="color: black;font-size: 80px; font-weight: bold"><%= @main_tab.title %></h1>
<hr style="width: 40%"/>
<div class="container" style="padding-top: 40px; padding-bottom: 92px">
  <p><%= @main_tab.body %></p>
  <hr>
</div>