@media (min-width: 768px)
{
    .dropdown .dropdown-navbar {
        transition: all 0.4s;
        overflow: hidden;
        transform-origin: top center;
        transform: scale(1, 0);
        opacity: 0.5;
        display: block;
    }
    .dropdown:hover .dropdown-navbar {
        transform: scale(1);
        opacity: 1;
    }
    .navbar {
        max-height: 57px;
        margin-top: -53px;
    }
}
@media (max-width: 767px)
{
    .nav li:focus-within>.dropdown-menu {
        display: block;
    }
    .banner {
        padding-bottom: 15px;
    }
    .banner-bg {
        background-position-y: 40%;
    }
    .banner h1{
        font-size: 1.7rem;
    }
    .navbar {
        margin-top: -40px;
    }
}
.custom-toggler.navbar-toggler {
    border-color: rgba(55, 55, 55, 0.9);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(55, 55, 55, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar.scrolled .navbar-header .custom-toggler.navbar-toggler {
    border-color: rgba(226, 226, 226, 0.9);
}
.navbar.scrolled .navbar-header .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(226, 226, 226, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bg-transparent-dark {
    background-color: rgba(0,0,0,0.3) !important;
}

.bg-semitransparent {
    background: linear-gradient(transparent 10%, rgb(250,250,250) 85%);

}

.bg-semitransparent.scrolled {
    background: rgba(0,0,0, 0.55);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.navbar.scrolled {
    transition: .2s;
}

.navbar-nav > li{
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-brand {
    width: 160px;
    height: 160px;
    max-height: 100px;
    transition: 2s;
}

.btn-navbar {
    font-size: 18px;
    font-weight: bold;
    color: white;
    transition: .3s;
}

.btn-navbar:hover, .btn-navbar:focus, .btn-navbar:active, .btn-navbar.active, .open>.dropdown-toggle.btn-navbar {
    color: white;
    background-color: rgba(140,140,140,1);
    border-color: rgba(130,130,130,1);
}

.btn-navbar.scrolled {
    color: #ffffff;
    /*font-size: 18px !important;*/
    transition: .3s;
}

.btn-navbar.scrolled:hover, .btn-navbar.scrolled:focus, .btn-navbar.scrolled:active, .btn-navbar.active.scrolled,
.open.scrolled>.dropdown-toggle.btn-navbar.scrolled {
    background-color: rgba(245,245,245,1);
    border-color: rgba(245,245,245,1);
}

.draw-shadow {
    box-shadow: 0 20px 14px 2px rgba(0, 0, 0, 0.5);
}